footer.metadata {
	width: 100%;
	text-align: center;
	padding-top: .5em;
	background-color: black;
	color: white;
}

footer.metadata img {
	margin-left: -2em;
	margin-right: 1em;
	float: right;
	height: 2.2em;
}
