.fullPage header {
	display:	-webkit-flex;
	display:			flex;
	font-size: 150%;
}

.fullPage header .author {
	-webkit-flex: 1 1 auto;
		-ms-flex: 1 1 auto;
			flex: 1 1 auto;

	text-align: center;
	font-size: 100%;
	font-weight: lighter;
	margin-top: 0;
}

.fullPage section {
	font-size: 130%;
	columns: 2;
}

.fullPage iframe {
	margin: 0;
	width: 100%;
	height: 50%;
}

.fullPage footer .next, .fullPage footer .previous {
	position: absolute;
	top: 0;
	background-color: #BBB;
	height: 100%;
	padding: 0 .5em;
	border-color: black;
}

.fullPage footer .previous {
	left: 0;
	border-right: 1px solid;
}

.fullPage footer .next {
	right: 0;
	border-left: 1px solid;
}

.fullPage footer .ui.statistic.amendment > .text.value {
	min-height: .5em;
	height: .5em;
}

@media screen {
	.fullPage footer {
		background: #fff9d7;
		color: #6e5f00;
		border-top: 1px solid #6e5f00;
	}

	.fullPage footer.positive {
		background: #e3ffd8;
		color: #376c38;
		border-top: 1px solid #376c38;
	}

	.fullPage footer.negative {
		background-color: #ffe1e1;
		color: #c02626;
		border-top: 1px solid #c02626;
	}

	.fullPage footer.ours {
		background-color: #00b5ad;
		color: #rgba(1, 1, 1, 0.9);
		border-top: 1px solid #d4d4d5;
	}

	.fullPage footer {
		position: fixed;
		width: 100%;
		bottom: 0;
		left: 0;
		text-align: center;
		padding-bottom: 1.5em;
	}

	.print-only {
		display: none;
	}
}

@media print {
	.fullPage header {
		font-size: 120%;
	}

	.fullPage .amendment, .fullPage footer .next, .fullPage footer .previous {
		display: none;
	}

	.fullPage {
		page-break-after: always;
	}

	.position {
		margin-top: 1em;
		border: 2px solid black;
	}
}
