.position {
	cursor: pointer;
}

i.icon.unknown::before {
	content: "?";
	font-weight: bold;
}

textarea {
	width: 100%;
	min-height: 12em;
	resize: vertical;
}

table {
	width: 100%;
}

tbody th {
	width: 15%;
}

tbody .position {
	width: 5%;
}
