.fiche, .fiche .content, .fiche .form {
	display:	-webkit-flex;
	display:			flex;
}

.fiche .amendmentInfo, .fiche .form .field, .fiche .summary {
	-webkit-flex-grow: 1;
		-ms-flex-grow: 1;
			flex-grow: 1;
}

.fiche .content, .fiche .amendmentContent {
	-webkit-flex-grow: 3;
		-ms-flex-grow: 3;
			flex-grow: 3;
}

.fiche .amendmentContent {
	-webkit-flex-grow: 10;
		-ms-flex-grow: 10;
			flex-grow: 10;
}

.fiche .content {
	-webkit-flex-direction: column;
		-ms-flex-direction: column;
			flex-direction: column;
}

.fiche .ui.statistic {
	min-width: 12em;
	margin-right: 1.5em;
}

.fiche .ui.statistic .value, .fiche .ui.statistic .label, .fiche .ui.statistic > .text.value + .label {
	text-align: right;
}

.ui.statistic.amendment > .text.value {
	min-height: 1em;
	height: 1em;
}

.fiche .ui.statistic h3 {
	margin-bottom: 0;
}

textarea {
	width: 100%;
	min-height: 12em;
	resize: vertical;
}

.fiche .amendmentContent {
	position: relative;
}

.fiche iframe {
	position: absolute;
	width: 100%;
	height: 100%;
}

.fiche .amendment h3 a {
	color: red;
}

.fiche.done .amendment h3 a {
	color: green;
}
