.fiche {
	display:	-webkit-flex;
	display:			flex;
}

.fiche .content, .fiche .content .summary {
	-webkit-flex: 1 1 auto;
		-ms-flex: 1 1 auto;
			flex: 1 1 auto;
}

.fiche .content {
	display:	-webkit-flex;
	display:			flex;
	-webkit-flex-direction: column;
		-ms-flex-direction: column;
			flex-direction: column;
}

.fiche .form .field {
	display: inline-block;
	width: 45%;
	margin-right: 1em;
}

.fiche .ui.statistic {
	min-width: 12em;
	margin-right: 1.5em;
}

.fiche .ui.statistic .value, .fiche .ui.statistic .label, .fiche .ui.statistic > .text.value + .label {
	text-align: right;
}

.fiche .ui.statistic > .text.value {
	min-height: 1em;
	height: 1em;
}

.fiche .ui.statistic h3 {
	margin-bottom: 0;
}

textarea {
	width: 100%;
	min-height: 12em;
	resize: vertical;
}
