.position {
	cursor: pointer;
}

textarea {
	width: 100%;
	min-height: 12em;
	resize: vertical;
}

table {
	width: 100%;
}

tr .index, tr .id, tr .group {
	width: 5%;
}

tr .manager, tr .author {
	width: 10%;
}
