.fiche-print {
	page-break-after: always;
}

header {
	border-bottom: 1px solid black;
}

header div:first-child {
	float: left;
}

header div:last-child {
	float: right;
}

.summary, .talkingPoint .position {
	border: 2px solid black;
}
