<template name="amendementsFilter">
	<ul class="ui vertical menu">
		<li class="teal item {{#if equals currentTab 'all'}}active{{/if}}">
			<a href="{{pathFor 'amendementsList'}}">
				{{_ 'allAmendments'}}
			</a>
		</li>
		<li class="teal item {{#if equals currentTab 'mine'}}active{{/if}}">
			<a href="{{pathFor 'amendementsForUser' _id=currentUser._id}}">
				{{_ 'myAmendments'}}
			</a>
			<div class="ui label">{{mineCount}}</div>
		</li>
		<li class="teal item {{#if equals currentTab 'search'}}active{{/if}}">
			<div class="ui transparent icon input">
				<input name="article" type="search" placeholder="{{_ 'article'}}…" value="{{query}}">
				<i class="search icon"></i>
			</div>
		</li>
	</ul>
</template>
