<template name="amendementsFullpage">
	<article id="fullpage" class="ui segment">
		<header>
			<p class="ui top left attached label statistic">
				<span class="label">Article</span>
				<span class="value text">{{article}}</span>
			</p>
			<p class="ui top right attached label statistic">
				<span class="label">Amendement</span>
				<span class="value text">{{_id}}</span>
			</p>
			<h2 id="author">Déposé par <strong>{{content.auteurLabelFull}}</strong>{{#if content.auteurGroupe}} (groupe <strong>{{content.auteurGroupe}}</strong>){{/if}}</h2>
		</header>

		<h3>Éléments de langage</h3>
		<div id="talkingPoint">
			{{talkingPoint}}
		</div>

		<footer class="ui segment {{position}}">
			{{#if previous}}
				<p class="ui bottom left attached label">
					<a href="{{pathFor 'amendementsFullpage' _id=previous._id}}">❮&nbsp;Amendement {{previous._id}}</a>
				</p>
			{{/if}}

			<p id="position">Position&nbsp;:&nbsp;<span id="positionValue">{{_ position}}</span></p>

			{{#if next}}
				<p class="ui bottom right attached label">
					<a href="{{pathFor 'amendementsFullpage' _id=next._id}}">Amendement {{next._id}}&nbsp;❯</a>
				</p>
			{{/if}}
		</footer>
	</article>
</template>
