<template name="amendementsItem">
	<article class="fiche ui vertical segment {{#unless talkingPoint}}red{{/unless}}">
		<div class="ui statistic">
			<div class="label">{{_ 'index'}} {{content.position}}</div>
			<h3 class="text value">
				<a href="{{pathFor 'amendementsFullpage' _id=_id}}">{{_id}}</a>
			</h3>
			<div class="label">{{content.place.raw}}</div>
		</div>

		<div class="content">
			<div class="summary">
				{{#if summary}}
					{{summary}}
				{{else}}
					<em>{{_ 'toHandle'}}</em>
				{{/if}}
			</div>

			<div class="ui form">
				<div class="ui field">
					<p class="position">{{_ 'position'}}{{{_ 'colon'}}} {{_ position}}</p>
				</div>
				<div class="ui field">
					<select name="manager" class="ui search dropdown">
						<option value="">— {{_ 'noManager'}} —</option>
						{{#each users}}
							<option {{userOptionAttributes _id}}>{{username}}</option>
						{{/each}}
					</select>
				</div>
			</div>
		</div>
	</article>
</template>
