<template name="amendementsItem">
	<tr>
		<td class="index">
			{{#if _id}}
				{{content.position}}
			{{else}}
				{{_ 'index'}}
			{{/if}}
		</td>
		<th class="id">
			{{#if _id}}
				<a href="{{pathFor 'amendementsFullpage' _id=_id}}">{{_id}}</a>
			{{else}}
				{{_ 'amendment'}}
			{{/if}}
		</th>
		<td class="author">
			{{#if _id}}
				{{content.auteurLabelFull}}
			{{else}}
				{{_ 'author'}}
			{{/if}}
		</td>
		<td class="group">
			{{#if _id}}
				{{content.auteurGroupe}}
			{{else}}
				{{_ 'party'}}
			{{/if}}
		</td>
		<td class="manager">
			{{#if _id}}
				<select name="manager">
					<option value="">— {{_ 'noManager'}} —</option>
					{{#each users}}
						<option {{userOptionAttributes _id}}>{{username}}</option>
					{{/each}}
				</select>
			{{else}}
				{{_ 'manager'}}
			{{/if}}
		</td>
		<td class="position">
			{{#if _id}}
				{{_ position}}
			{{else}}
				{{_ 'position'}}
			{{/if}}
		</td>
		<td class="summary">
			{{#if _id}}
				<textarea name="summary" value="{{summary}}"></textarea>
			{{else}}
				{{_ 'summary'}}
			{{/if}}
		</td>
		<td class="talkingPoint">
			{{#if _id}}
				<textarea name="talkingPoint" value="{{talkingPoint}}"></textarea>
			{{else}}
				{{_ 'talkingPoint'}}
			{{/if}}
		</td>
	</tr>
</template>
