<template name="amendementsList">
	<div class="ui vertical demo menu">
		<a href="{{pathFor 'amendementsList'}}" class="teal item {{#if equals currentTab 'all'}}active{{/if}}">
			Toutes les fiches
		</a>
		<a href="{{pathFor 'amendementsForUser' _id=currentUser._id}}" class="teal item {{#if equals currentTab 'mine'}}active{{/if}}">
			Mes fiches
			<div class="ui label">{{mineCount}}</div>
		</a>
	</div>
	<table>
		<thead>
			{{> amendementsItem}}
		</thead>
		<tbody>
			{{#each amendements}}
				{{> amendementsItem}}
			{{/each}}
		</tbody>
	</table>
</template>
